html{
    background-color: cadetblue;
}
h1{
    color: darkmagenta;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

table{

    background-color: rgb(236, 221, 193);
    border: solid 3px chocolate;
    border-collapse: collapse;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }

th {
    border: rgb(105, 58, 4) ;
    padding: 30px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:crimson;
    }
td {
    border: rgb(105, 58, 4) ;
    padding: 15px ;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
}



